body{
	height: 100vh;
	margin:0;
	padding:0;
	font-family:Amatic SC;
	background-color:#ecf4ee;
}
/*---------------Верхнее меню вмете с лого-------------*/
.navigation ul {
  background-image: url(https://sun9-62.userapi.com/impg/g3XTfS0_i4-Rw4WtO79t1NUjCb11g6yWTCmh6g/mgKgNmFz4Ps.jpg?size=1280x1024&quality=96&proxy=1&sign=ae9bb2298ff9f2018b0e4101e9e5d38b&type=album) ;
  background-position:center;
  overflow: hidden;
  padding: 0;
  margin-top:0px;
}
.navigation li {
  float: right;
  list-style-type: none
  
}
.navigation a {
  display: block;
  padding: 1em;
  color: #000000;
  text-decoration:none;
  font-size:50px;
}
.navigation a:hover {background: #acc8b3}

.logo img {
	max-width:150px;
}
/*----------середина-----------------*/
.blockone{

	width:80%;
	margin: 250px;
	height:auto;
	padding:50px;
	background-color: #ffcdb2;
	background-image: linear-gradient(315deg, #ffcdb2 0%, #ffb4a2 74%);
	box-sizing:border-box;
	transition: .4s;
}

.gaba{
   float: right;
   padding: -100px 20px 20px 200px;
}
	
h2{
	
	font-size:60px;
	text-align:center;
}
.istoria{
	font-size:50px;
	
}
/*----------Фото----------------*/
.wrap {
 margin: 250px;
 width:80%;
 height: auto;
 position: relative;
 top: -80px;
 background-color: #ffcdb2;
background-image: linear-gradient(315deg, #ffcdb2 0%, #ffb4a2 74%);
}
.txtwr{
	text-align:right;
	font-size:50px;
}
.txtwr li {
	list-style-image:url(https://2.downloader.disk.yandex.ru/preview/44de9815b8f5c33079933724abea7b6b539db25ac4243cf7ed9598a5c234c307/inf/BN27iQTfLmiN3Whie675_xst8U7-VA5c_i5kf4pBHMcNDbxJVPt0ghr7_sudqwa9bldHbHN6e35e1RT4uMz3_w%3D%3D?uid=1090482255&filename=%D0%91%D0%B5%D0%B7%20%D0%B8%D0%BC%D0%B5%D0%BD%D0%B8-4.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=1090482255&tknv=v2&size=1850x1044);
 }
 .lic{
	 text-align:center;
	 font-size:60px;
 }
.wrap a {
 margin: 0;
 position: absolute;
}
.wrap a .round {
 border-radius: 50%;
 width: 500px;
 height: 500px;
}

.wrap .two {
 margin: 0;
 -webkit-transition: top 0.4s ease-out;
 -moz-transition: top 0.4s ease-out;
 transition: top 0.4s ease-out;
 opacity: 0.8;
 top: 0;
}
.wrap .three {
 margin: 0;
 -webkit-transition: top 0.4s ease-out;
 -moz-transition: top 0.4s ease-out;
 transition: top 0.4s ease-out;
 opacity: 0.8;
 top: 0;
}
.wrap:hover .one {
 opacity: 0.8;
}
.wrap a.one:hover {
 opacity: 1;
 z-index: 2;
}
.wrap:hover .two {
 top: 300px;
}
.wrap a.two:hover {
 opacity: 1;
 z-index: 2;
}
.wrap:hover .three {
 top: 150px;
}
.wrap a.three:hover {
 opacity: 1;
 z-index: 2;
}
.wrap:hover figure img {
 top: 500px;
}

.foot{

height:150px;
background: rgb(20, 2, 2);
width: 100%;
margin-top:150px;
}
.licen{

color: #fff;
font-size:50px;
}
.vk{
	margin-top:-120px;
}










